<!DOCTYPE html>
<html>
<head>
	<title>Hello Vuetwo</title>
	<script src="https://unpkg.com/vue@2.6.7/dist/vue.js"></script>
</head>

<body>
	<div id="app">
		<h1>Hello Vue</h1>
		<label for="name">Please enter your name: </label>
		<input v-model="name" id="name">
		<p v-if="name">
      <!-- gets name from app data and desplays it here. -->
			You are {{name}}
		</p>
	</div>
	
	<script>
		let app = new Vue({
			el: "#app",
			data: {
				name: "",
				
			},
			methods: {
				
			},
			filters: {
				
			}
		})
	</script>
</body>
</html>